@import "widget/search";

.widgets {
  $root: &;
  line-height: 1.8em;
  margin-top: var(--s-gutter);

  .layout--listing & {
    grid-area: right;


    &__sticky {
      @media #{$mq-left-with-aside} {
        display: block;
        position: sticky;
        top: var(--s-gutter);
      }
    }
  }

  &__sticky {
    margin-top: var(--s-gutter);

    @media #{$mq-no-asides} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--s-gutter);
    }

    .layout--post & {
      @extend %layout;
      --max-width: var(--s-article-width);
      padding: 0;
    }
  }
}

.widget {
  $root: &;
  --c-bg-widget: var(--c-background);
  word-wrap: break-word;
  background: var(--c-bg-widget);

  & + & {
    margin-top: var(--s-gutter);

    @media #{$mq-no-asides} {
      margin-top: 0;
    }
  }

  .layout--listing & {
    @media #{$mq-left-with-aside} {
      --c-bg-widget: none;
      & + #{$root} {
        margin-top: var(--s-gutter);
      }

    }
  }

  &--tag,
  &--category {
    small {
      margin-left: var(--s-quarter-gutter);
      color: var(--c-primary);

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }

  &__title {
    @extend %aside-title;
  }

  &__title,
  &__entry {
    padding: var(--s-quarter-gutter) var(--s-half-gutter);
  }

  &__entry {
    margin: 0;
  }

  ul, ol, dl {
    list-style: none;
    ul, ol, dl {
      list-style: disc;
      margin-left: 20px;
    }
  }
}
