@import "widget/search";
@import "widget/social";
@import "widget/categories-and-tags";

.widgets {
  $root: &;
  grid-gap: var(--s-gutter);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'search social'
    'categories-and-tags categories-and-tags';

  @media #{$mq-no-asides} {
    display: grid;
  }

  @media #{$mq-left-with-aside} {
    margin-top: var(--s-gutter);
    display: block;
  }

  .layout--post & {
    --max-width: var(--s-article-width);
    max-width: var(--max-width);
    margin-top: var(--s-gutter);
    margin-left: 0;
    margin-right: auto;

    @media #{$mq-no-asides} {
      margin-left: auto;
      display: grid;
    }

    @media #{$mq-left-with-aside} {
      margin-left: 0;
    }

    @media #{$mq-centered-with-asides} {
      margin-left: auto;
    }
  }

  .layout--listing & {
    grid-area: right;
    margin-top: var(--s-gutter);
  }
}

.widget {
  margin-top: var(--s-gutter);

  @media #{$mq-no-asides} {
    margin: 0;
  }

  &--categories-and-tags {
    grid-area: categories-and-tags;

    @media #{$mq-no-asides} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--s-gutter);
    }
    @media #{$mq-left-with-aside} {
      display: block;
      position: sticky;
      top: 0;

      .layout--post & {
        display: grid;
      }
    }
  }
}
