*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  max-width: 1200px + ($gutter * 2);
  padding: 0 0;
  background: color-background;
  color: color-font;
  font-family: font-default;
  text-shadow: 0 0 1px transparent;

  +mq('>=L') {
    padding: 0 $gutter;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    // line-height: 1.58;
  }
}

#header {
  flex: 0 0 100%;
}
main {
  flex: 0 0 70%;
}
#sidebar {
  flex: 0 0 'calc(%s - %s)' % (30% $gutter);

  +mq('>=L') {
    margin-left: $gutter;
  }
}
#footer {
  flex: 0 0 100%;
  +mq('>=M') {
    flex-basis: 70%;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: font-title;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix {
  clearfix();
}
