// Color
// color-background  = #eee;
// color-font        = #444;
// color-meta        = #999;
// color-border      = #ddd;
// color-link        = #258fb8;


color-background  = #ecf4f8;
color-font        = #445;
// color-meta        = #cddce4;
color-meta        = darken(color-background, 30%);
color-border      = #ddd;
color-link        = #ff0078;

// Font
// font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif
// font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
// @import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

// font-title    = 'Corben', Georgia, Times, serif;
// font-default  = 'Nobile', Helvetica, Arial, sans-serif;


font-title    = 'Sansita one', Georgia, serif;
font-default  = 'Kameron', Georgia, serif;

// font: 400 70px/1.2 'Sansita one', Georgia, serif;

font-serif    = "Georgia", serif;
font-mono     = Monaco, Menlo, Consolas, Courier New, monospace;

font-icon       = FontAwesome
font-icon-path  = 'font/fontawesome-webfont';

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg');
}

// Width
page-width    = 1200px;
$gutter       = 30px;
