///////
// FONT
///////

$c-text               = #445;
color-font            = $c-text;
$c-primary            = #82b7d1;
$c-primary-lighter    = lighten( $c-primary, 45% );
$c-primary-lightest   = lighten( $c-primary, 85% );
color-background      = $c-primary-lightest;
color-meta            = $c-primary;
$c-border             = #ddd;
color-border          = $c-border;
$c-contrast           = #ff0078;
$c-contrast-lightest  = lighten($c-contrast, 90%);
color-link            = $c-contrast;

// Font
// font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif
// font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
// @import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

// font-title    = 'Corben', Georgia, Times, serif;
// font-default  = 'Nobile', Helvetica, Arial, sans-serif;

font-title    = 'Sansita one', Georgia, serif;
font-default  = 'Kameron', Georgia, serif;

// font: 400 70px/1.2 'Sansita one', Georgia, serif;

font-serif    = "Georgia", serif;
font-mono     = Monaco, Menlo, Consolas, Courier New, monospace;

font-icon       = FontAwesome
font-icon-path  = 'font/fontawesome-webfont';

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg');
}

///////
// SIZES
///////

page-width    = 1200px;
$gutter       = 30px;
$half-gutter  = ($gutter / 2);
$big-gutter   = ($gutter * 2);

//----- MEDIA QUERIES

$mq-small       = '(max-width: 600px)';
$mq-medium      = '(min-width: 601px)';
$mq-medium-only = '(min-width: 601px) and (max-width: 1023px)';
$mq-not-big     = '(max-width: 1023px)';
$mq-big         = '(min-width: 1024px)';

///////
// CSS VARS
///////

:root {
  --c-primary: $c-primary;
  --c-primary-lighter: $c-primary-lighter;
  --c-primary-lightest: $c-primary-lightest;
  --c-contrast: $c-contrast;
  --c-contrast-lightest: $c-contrast-lightest;
  --c-border: $c-border;
  --c-text: $c-text;
  --gutter: $gutter;
  --half-gutter: $half-gutter;
  --big-gutter: $big-gutter;
}
