.comparison {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

}

.comparison .entry {
  em {
    background: #ecffd4;
    font-style: normal;
    padding-left: .35em;
    padding-right: @padding-left;
  }
}
