article .entry
  counter-reset: section;
  counter-reset: caption;
  // text-align justify
  line-height 1.6
  p, blockquote, ul, ol, dl, table, iframe, h3, h4, h5, h6, .video-container
    margin-top 15px

  blockquote
    border-top 1px solid color-border
    border-bottom 1px solid color-border
    font-style italic
    font-family font-serif
    font-size 1.2em
    padding 0 30px 15px
    text-align center
    footer
      border-top none
      font-size 0.8em
      line-height 1
      margin 20px 0 0
      padding-top 0
      cite
        &:before
          content '—'
          color #ccc
          padding 0 0.5em

  code, pre
    font-family font-mono

  code
    background #eee
    color #666
    padding 0 5px
    margin 0 2px
    font-size 0.9em
    border 1px solid color-border
    border-radius 3px

  pre
    background #eee
    border 1px solid color-border
    margin-top 15px
    overflow auto
    padding 7px 15px
    border-radius 2px
    code
      background none
      padding 0
      margin 0
      border none
      border-radius 0

  ul,
  ol,
  dl {
    margin-left: 20px;
    padding: 0;

    ul,
    ol,
    dl {
      margin-top: 0;
    }
  }

  h1,
  h2 {
    counter-increment: section;
    font-weight: normal;
    border-bottom: 1px solid color-border;
    padding-bottom: 10px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: $gutter * -2;
    margin-right:  @margin-left;
    padding-left: @margin-left * -1;
    position: relative;

    &::before {
      color: color-meta;
      color: color-background;
      color: #cddce4;
      content: counter(section, upper-latin) '. ';

      +mq('>=L') {
        position: absolute;
        transform: translateX(-120%);
      }
    }
  }
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    border: none;
  }

  iframe {
    border: none;
  }

  .caption {
    counter-increment: caption;
    display: block;
    margin-top: 5px;
    color: color-meta;
    position: relative;
    font-size: 0.9em;
    // https://www.w3.org/wiki/CSS/Properties/list-style-type
    &::before {
      content: 'fig.' counter(caption, decimal-leading-zero) ' ';
    }
  }

  .video-container
    position relative
    padding-bottom 56.25%
    padding-top 30px
    height 0
    overflow hidden
    iframe, object, embed
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      margin-top 0

  .pullquote
    float right
    border none
    padding 0
    margin 1em 0 0.5em 1.5em
    text-align left
    width 45%
    font-size 1.5em

  em {
    background: lighten(color-link, 90%);
    font-style: normal;
    padding-left: .35em;
    padding-right: @padding-left;
  }

//////
// VIDEO
//////

$stripe = darken(color-background, 5%);

.video-wrapper {
  text-align: center;
  background-image: repeating-linear-gradient(-45deg, color-background, color-background 5px, $stripe 5px, $stripe 10px);
  padding: .75em 0 .25em;

  +mq('>=M') {
    margin-left: $gutter * -2;
    margin-right: @margin-left;
  }
}

//////
// SPLIT PRESENTATION
//////

$stripe = #fbfbfb;

article .entry .split {
  margin: 1em 0 0;

  +mq('>=M') {
    display: flex;
    flex-wrap: wrap;
    margin-left: $gutter * -2;
    margin-right: @margin-left;
  }

  dt {
    font-weight: bold;
    text-transform: uppercase;
    color: color-meta;

    +mq('>=M') {
      order: 0;
    }
  }
  dd {
    margin: 0;
    +mq('>=M') {
      order: 2;
    }
  }
  dt,
  dd {
    padding: .5em 1em;

    +mq('>=M') {
      flex: 0 0 50%;

      &:first-of-type {
         padding-left: $gutter * 2;
      }
      &:last-of-type {
        padding-right: $gutter * 2;
        // box-shadow: -1px 0 0 rgba(black, .1);
      }
    }
  }
  dt {
    padding-bottom: 0;
  }
  dd {
    padding-top: 1px;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, $stripe 5px, $stripe 10px);

    &:first-of-type {
      // box-shadow: inset -1px 0 0 white;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, $stripe 5px, $stripe 10px);
    }
    &:last-of-type {
      box-shadow: -1px 0 0 darken($stripe, 7%);
    }
  }
}
