.comparison {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
}

.comparison .entry {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -1em;
    
    li {
      flex: 0 0 50%;
      padding: 1em;
      
      &:nth-child(even) {
        background: #EEF;
      }
    }
  }
}
