///////
// COLORS
///////

$c-text: #445;

$c-border: #ddd;

$c-primary: hsl(200, 46%, 66%);
$c-primary-h: hue($c-primary);
$c-primary-s: saturation($c-primary);
$c-primary-lighter: hsl($c-primary-h, $c-primary-s, 82%);
$c-primary-lightest: hsl($c-primary-h, $c-primary-s, 95%);

$c-contrast: #ff0078;
$c-contrast-h: hue($c-contrast);
$c-contrast-s: saturation($c-contrast);
$c-contrast-lightest: hsl($c-contrast-h, $c-contrast-s, 95%);

$color-background: $c-primary-lightest;

$c-stripe-img: #fbfbfb;

///////
// FONTS
///////

$font-title: 'Sansita one', Georgia, serif;
$font-default: 'Kameron', Georgia, serif;

$font-serif: "Georgia", serif;
$font-mono: Monaco, Menlo, Consolas, Courier New, monospace;

///////
// SIZES
///////

$page-width: 1200px;
$gutter: 30px;
$half-gutter: ($gutter / 2);
$quarter-gutter: ($gutter / 4);
$big-gutter: ($gutter * 2);
$right-column-width: 30%;

//----- MEDIA QUERIES

$mq-small: '(max-width: 600px)';
$mq-medium: '(min-width: 601px)';
$mq-medium-only: '(min-width: 601px) and (max-width: 1023px)';
$mq-not-big: '(max-width: 1023px)';
$mq-big: '(min-width: 1024px)';

///////
// CSS VARS
///////

:root {
  --c-primary: $c-primary;
  --c-primary-lighter: $c-primary-lighter;
  --c-primary-lightest: $c-primary-lightest;
  --c-contrast: $c-contrast;
  --c-contrast-lightest: $c-contrast-lightest;
  --c-border: $c-border;
  --c-text: $c-text;
  --c-background: var(--c-primary-lightest);
  --c-stripe-img: $c-stripe-img;

  --gutter: $gutter;
  --half-gutter: calc(var(--gutter) / 2);
  --quarter-gutter: calc(var(--gutter) / 4);
  --big-gutter: calc(var(--gutter) * 2);
  --s-right-column-width: $right-column-width;

  --page-width: $page-width;
}
