.archive-title {
  color: var(--c-primary);
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 0 1px #fff;
  &::before {
    font-family: $font-icon;
    content: '\f073';
    padding-right: 15px;
  }

  &.tag {
    &::before {
      content: '\f02b';
    }
  }

  &.category {
    &::before {
      content: '\f07b';
    }
  }
}

.post-list {
  $root: &;
  list-style: none;
  padding: 0;
  background: white;

  &__item {
    padding: var(--half-gutter) var(--gutter);

    & + & {
      border-top: 1px solid var(--c-border);
    }
  }
  &__link {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  &__date {
    display: block;
  }
  &__title {
    font-family: $font-title;
    font-size: 1.35em;
    color: var(--c-text);

    // https://codeburst.io/how-to-do-sass-grandparent-selectors-b8666dcaf961
    #{$root}__item:hover & {
      color: var(--c-contrast);
    }
  }
}
