.archive-title {
  color: var(--c-primary);
  font-weight: normal;
  padding: var(--gutter);
  margin: 0;
  text-shadow: 0 0 1px #fff;
  background: white;

  .icon {
    vertical-align: text-bottom;
  }
}

.post-list {
  $root: &;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;

  &__item {
    padding: var(--half-gutter) var(--gutter);

    & + & {
      border-top: 1px solid var(--c-border);
    }
  }

  .title {
    &__dates a {
      color: var(--c-primary-lighter);
    }
    &__heading {
      font-size: 1.35em;
      font-weight: 400;
    }
  }
}
