.article-long {
  $root: &;
  @extend %layout;
  @extend %grid-layout;
  padding: var(--s-gutter) 0 0;

  @media #{$mq-left-with-aside} {
    font-size: 18px;
    grid-template-areas:
      "title right"
      "content right"
      "footer right";
  }

  @media #{$mq-centered-with-asides} {
    grid-template-areas:
      "left title right"
      "left content right"
      "left footer right";

    &::after {
      content: '';
      background: white;
      z-index: -1;
      grid-area: 1 / 1 / last-line / span 1;
    }

    &__header  {
      padding: 0 0 var(--gutter);
    }
  }

  &__header {
    .layout--post & {
      padding-bottom: 0;
      grid-area: title;
    }
  }

  &__toc {
    grid-area: right;

    @media #{$mq-left-with-aside} {
      &-sticky {
        position: sticky;
        top: var(--gutter);
      }
    }
  }

  &__content {
    padding-top: 0;
    grid-area: content;
  }

  &__footer {
    @extend %card-footer;

    .layout--post & {
      grid-area: footer;
    }

    &:empty {
      display: none;
    }

    &-item {
      margin: 5px 0;

      .icon {
        fill: var(--c-primary-lighter);
        vertical-align: text-bottom;
      }
    }

    .addthis {
      margin-top: 15px;

      iframe {
        margin-top: 0;
      }
    }
  }

  .title__heading--draft::after {
    display: none;
  }
}

//////
// TOC
//////

.toc {
  margin: 0;
  padding: 0 0 0 1.15em;

  &-level-2 {
    list-style-type: upper-latin;

    &::before {
      color: var(--c-primary-lighter);
    }

  }

  &,
  &-child {
    color: var(--c-primary-lighter);
    font-family: $font-title;
  }
  &-child {
    list-style-type: disc;
    padding-left: 1em;
  }

  &-link {
    color: var(--c-text);
    font-family: $font-default;
    padding-bottom: .5em;
    display: inline-block;
    vertical-align: text-top;

    &:hover {
      color: var(--c-accent);
      text-decoration: none;
    }
  }
}
