.article-short {
  $root: &;
  @extend %card;

  & + & {
    margin-top: var(--s-gutter);
  }

  h2 {
    display: none;
  }

  &__read-more {
    @extend %card-footer;

    #{$root}:last-of-type &::after {
      display: none;
    }

    a {
      display: inline-flex;
      align-items: center;

      .icon {
        font-size: 1.75em;
        margin-right: 0;
      }
    }
  }
}
