.article-long__content {
  counter-reset: section;
  counter-reset: caption;
  line-height: 1.6;

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  iframe,
  h3,
  h4,
  h5,
  h6,
  .video-container {
    margin-top: 15px;
  }

  blockquote {
    border-top: 1px solid var(--c-border);
    border-bottom: 1px solid var(--c-border);
    font-style: italic;
    font-family: $font-serif;
    font-size: 1.2em;
    padding: 0 30px 15px;
    text-align: center;

    footer {
      border-top: none;
      font-size: 0.8em;
      line-height: 1;
      margin: 20px 0 0;
      padding-top: 0;

      cite {
        &::before {
          content: '—';
          color: #ccc;
          padding: 0 0.5em;
        }
      }
    }
  }

  code,
  pre {
    font-family: $font-mono;
  }

  code {
    background: var(--c-code);
    color: #666;
    padding: 0 5px;
    margin: 0 2px;
    font-size: 0.9em;
    border: 1px solid var(--c-border);
    border-radius: 3px;
  }

  pre {
    background: var(--c-code);
    border: 1px solid var(--c-border);
    margin-top: 15px;
    overflow: auto;
    padding: 7px 15px;
    border-radius: 2px;

    code {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
    }
  }

  ul,
  ol,
  dl {
    margin-left: 20px;
    padding: 0;

    ul,
    ol,
    dl {
      margin-top: 0;
    }
  }

  .article--short & {
    h1,
    h2 {
      display: none;
    }
  }

  h2 {
    counter-increment: section;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 30px;
    margin-top: var(--s-half-gutter);

    &::before {
      color: var(--c-primary-lighter);
      content: counter(section, upper-latin) '. ';
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      line-height: 1.1em;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    border: none;
  }

  iframe {
    border: none;
  }

  a[href^="https://en.wikipedia.org"]::after {
    content: ' (wikipedia)';
    color: var(--c-primary);
  }

  a[href^="https://developer.mozilla.org"]::after {
    content: ' (mdn)';
    color: var(--c-primary);
  }

  .pullquote {
    float: right;
    border: none;
    padding: 0;
    margin: 1em 0 0.5em 1.5em;
    text-align: left;
    width: 45%;
    font-size: 1.5em;
  }

  em {
    background: var(--c-accent-lightest);
    font-style: normal;
    padding-left: .35em;
    padding-right: .35em;
  }

  //////
  // SPLIT PRESENTATION
  //////

  .split {
    margin: 1em calc(var(--article-left-right-gutter)*-1) 0;

    @media #{$mq-no-asides} {
      display: flex;
      flex-wrap: wrap;
    }

    &__title,
    &__content {
      padding: .5em 1em;

      @media #{$mq-no-asides} {
        flex: 0 0 50%;

        &:first-of-type {
          padding-left: var(--article-left-right-gutter);
        }
        &:last-of-type {
          padding-right: var(--article-left-right-gutter);
        }
      }
    }
    &__title {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--c-primary);
      padding-bottom: 0;

      @media #{$mq-no-asides} {
        order: 0;
      }
    }
    &__content {
      margin: 0;
      padding-top: 1px;

      @media #{$mq-no-asides} {
        order: 2;
      }

      &--first {
        background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, var(--c-stripe-img) 5px, var(--c-stripe-img) 10px);
      }
      &--second {
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, var(--c-stripe-img) 5px, var(--c-stripe-img) 10px);
        @media #{$mq-no-asides} {
          box-shadow: -1px 0 0 darken($c-stripe-img, 7%);
        }
      }

    }
  }
}

.image-container {
  counter-increment: caption;
  display: block;
  margin: 5px 0 0;
  color: var(--c-primary);
  position: relative;
  font-size: 0.9em;

  // https://www.w3.org/wiki/CSS/Properties/list-style-type
  &__caption {
    text-align: center;

    &::before {
      content: 'fig.' counter(caption, decimal-leading-zero) ' – ';
    }
    &:empty::before {
      content: 'fig.' counter(caption, decimal-leading-zero);
    }
  }
  p {
    margin: 0;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}

.video-wrapper {
  text-align: center;
  background-image: repeating-linear-gradient(-45deg,
    white, white 5px,
    var(--c-stripe-img) 5px, var(--c-stripe-img) 10px);
  padding: .75em 0 .25em;
  margin: 0 calc(var(--article-left-right-gutter)*-1);
}

