.article-short {
  $root: &;
  @extend %card;

  & + & {
    margin-top: var(--gutter);
  }

  &__read-more {
    @extend %card-footer;

    #{$root}:last-of-type & {
      border: 0;
    }

    a {
      display: inline-flex;
      align-items: center;

      .icon {
        font-size: 1.75em;
        margin-right: 0;
      }
    }
  }

}
