.article-long {
  $root: &;
  @extend %card;

  @media #{$mq-big} {
    background: none;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    font-size: 18px;
    grid-column-gap: var(--s-grid-gutter-column);
    grid-template-columns: 700px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title toc"
      "content toc"
      "footer toc";

    &::after {
      content: '';
      background: white;
      z-index: -1;
      grid-area: 1 / 1 / last-line / span 1;
    }

    &__header  {
      padding: var(--gutter) 0;
    }
  }

  &__header {
    .layout--post & {
      padding-bottom: 0;
      grid-area: title;
    }
  }

  &__toc {
    grid-area: toc;

    &-title {
      @extend %aside-title;
      display: none;

      @media #{$mq-big} {
        display: block;
      }
    }

    @media #{$mq-big} {
      &-sticky {
        position: sticky;
        top: var(--gutter);
      }
    }
  }

  &__content {
    padding-top: 0;
    grid-area: content;
  }

  &__footer {
    @extend %card-footer;

    .layout--post & {
      grid-area: footer;
    }

    &:empty {
      display: none;
    }

    &-item {
      margin: 5px 0;

      .icon {
        fill: var(--c-primary-lighter);
        vertical-align: text-bottom;
      }
    }

    .addthis {
      margin-top: 15px;

      iframe {
        margin-top: 0;
      }
    }
  }

  .title__heading--draft::after {
    display: none;
  }
}

//////
// TOC
//////

.toc {
  padding: 0 0 0 1.15em;

  &-level-2 {
    list-style-type: upper-latin;

    &::before {
      color: var(--c-primary-lighter);
    }

  }

  &,
  &-child {
    color: var(--c-primary-lighter);
    font-family: $font-title;
  }
  &-child {
    list-style-type: disc;
    padding-left: 1em;
  }

  &-item {

  }

  &-link {
    color: var(--c-text);
    font-family: $font-default;
    padding-bottom: .5em;
    display: inline-block;
    vertical-align: text-top;

    &:hover {
      color: var(--c-contrast);
      text-decoration: none;
    }
  }
}
