.main-footer {
  background: var(--c-primary-lightest);
  color: var(--c-primary-lighter);
  margin-top: var(--s-gutter);
  padding: var(--s-half-gutter) 0 ;
  font: 0.9em/1.6 $font-title;
  text-shadow: 0 0 1px #fff;
  text-align: center;
}
