.main-header {
  background: linear-gradient(
    var(--c-primary-lighter),
    var(--c-accent-lightest)
  );
  padding: 0 var(--s-gutter);

  &__content {
    @extend %layout;
    text-align: center;
    padding-top: var(--s-half-gutter);
    padding-bottom: var(--s-half-gutter);

    @media #{$mq-centered-with-asides} {
      --max-width: var(--s-article-width);
    }
    @media #{$mq-medium} {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  a {
    color: white;

    &:hover {
      color: var(--c-accent);
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2.5em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1;
    margin-top: 10px;
  }

  &__title {
    &-stop--1 {
      stop-color: var(--c-primary);
    }
    &-stop--2 {
      stop-color: var(--c-primary-lightest);
    }
    text {
      fill: url(#Gradient2);
    }

  }
}

.main-nav {
  font-family: $font-title;
  line-height: 2.5em;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;

    & + & {
      margin-left: 30px;
    }
  }
}

.search {
  input {
    background: #fff;
    font-family: $font-title;
    font-style: italic;
    font-size: 1em;
    padding: 10px 15px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--c-primary);

    &:focus {
      color: var(--c-text);
    }
  }
}
