.main-header {
  background: var(--c-primary-lighter);
  padding: 0 var(--s-gutter);

  &__content {
    text-align: center;
    padding-top: var(--s-half-gutter);
    padding-bottom: var(--s-half-gutter);
  }

  a {
    color: white;

    &:hover {
      color: var(--c-accent);
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2.5em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1;
    margin-top: 10px;
  }
  &__title {
    grid-area: title;

    @media #{$mq-no-asides} {
      text-align: left;
      flex-grow: 9999;
    }
  }
}

.main-nav {
  font-family: $font-title;
  line-height: 1em;
  align-self: center;
  text-align: left;
  padding-left: var(--s-half-gutter);
  flex-grow: 1;


  @media #{$mq-centered-with-asides} {
    grid-area: icons;
    padding-left: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;

    a {
      display: inline-block;
    }

    & + & {
      margin-left: var(--c-half-gutter);
    }

    svg {
      display: block;
      font-size: 1.5em;
      fill: var(--c-primary-darker);
    }
  }
  .icon--c-medium {
    width: 1.75rem;
    height: 1.75rem;
  }
}
