*,
*::before,
*::after {
  box-sizing: border-box;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 var(--gutter);
  color: var(--c-text);
  font-family: $font-default;
  text-shadow: 0 0 1px transparent;

  @media #{$mq-big} {
    font-size: 18px;
  }
}

.layout--listing {
  @media #{$mq-big} {
    display: grid;
    font-size: 18px;
    grid-gap: var(--gutter);
    grid-template-columns:
      [main-start article-start] 1fr
      [sidebar-start article-end] var(--s-right-column-width)
      [main-end];
  }
}

.main-header {
  grid-column: main-start / main-end;
}

.main-footer {
  grid-column: main-start / main-end;
}

%card {
  --article-left-right-gutter: 0;
  padding: var(--gutter) 0 0;
}

%card-footer {
  margin-top: var(--half-gutter);
  padding: 0 0 var(--half-gutter);
  border-bottom: 5px solid var(--c-background);
  color: var(--c-primary);
  font-size: 0.9em;
  line-height: 16px;
  min-height: 16px;

  a {
    color: var(--c-primary);

    &:hover {
      color: var(--c-contrast);
      text-decoration: none;
    }
  }
}

%aside-title {
  margin: 0;
  padding: var(--quarter-gutter) 0;
  padding-top: 0;
  font-family: $font-title;
  font-size: 1em;
  border-bottom: 1px solid var(--c-border);
  font-weight: normal;
  color: var(--c-primary);
  display: flex;
  align-items: center;

  .icon {
    fill: var(--c-primary-lighter);
    margin-right: .25em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: var(--c-contrast);
  &:hover {
    text-decoration: underline;
  }
}

.svg-icon-library {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.icon {
  fill: currentColor;
}

.u-c-contrast {
  color: var(--c-contrast);
}
