*,
*::before,
*::after {
  box-sizing: border-box;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--c-text);
  font-family: $font-default;

  @media #{$mq-left-with-aside} {
    font-size: 18px;
  }
}

main {
  padding: 0 var(--s-gutter);
}

.layout--listing {
  main {
    @extend %layout;
    @extend %grid-layout ;
  }
}

.home-articles {
  grid-area: content;
}

@mixin hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

%layout {
  --max-width: var(--s-article-width);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;

  @media #{$mq-left-with-aside} {
    --max-width: var(--s-page-width-max);
  }
}

%grid-layout {
  @media #{$mq-left-with-aside} {
    display: grid;
    grid-column-gap: var(--s-grid-gutter-column);
    grid-template-rows: auto;
    grid-template-columns: var(--s-article-width) 1fr;
    grid-template-areas: "content right";
  }
  @media #{$mq-centered-with-asides} {
    grid-template-columns: 1fr var(--s-article-width) 1fr;
    grid-template-areas: "left content right";
  }
}

%card {
  --article-left-right-gutter: 0;
  padding: var(--s-gutter) 0 0;
}

%card-footer {
  margin-top: var(--s-half-gutter);
  padding: 0 0 var(--s-half-gutter);
  border-bottom: 5px solid transparent;
  color: var(--c-primary);
  font-size: 0.9em;
  line-height: 16px;
  min-height: 16px;
  position: relative;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    background: var(--c-background);
    bottom: calc( var(--s-big-border) * -1 );
    height: var(--s-big-border);
    border-radius: var(--s-big-border);
    width: 100%;
    pointer-events: none;
  }

  a {
    color: var(--c-primary);

    &:hover {
      color: var(--c-accent);
      text-decoration: none;
    }
  }
}

%aside-title {
  margin: 0;
  padding: var(--s-quarter-gutter) 0;
  padding-top: 0;
  font-family: $font-title;
  font-size: 1em;
  border-bottom: 1px solid var(--c-primary-lighter);
  font-weight: normal;
  color: var(--c-primary);
  display: flex;
  align-items: center;

  .icon {
    fill: var(--c-primary-lighter);
    margin-right: .25em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: var(--c-accent);
  &:hover {
    text-decoration: underline;
  }
}

.svg-icon-library {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.icon {
  fill: currentColor;
}

.u-c-accent {
  color: var(--c-accent);
}
