.pagination {
  display: flex;
  justify-content: space-between;

  &__item {
    display: block;
    padding: 5px 10px;
    background: var(--c-border);
    color: var(--c-primary);
    font-family: $font-title;
    text-shadow: 0 0 1px #fff;
    margin-bottom: 50px;

    &:hover {
      background: var(--c-contrast);
      color: #fff;
      text-decoration: none;
      text-shadow: none;
    }

    &::before {
      font-family: $font-icon;
    }

    &--prev::before {
      content: '\f053';
      padding-right: 10px;
    }
    &--next::before {
      content: '\f054';
      padding-left: 10px;
    }
  }
}
