#sidebar {
  line-height: 1.8em;
  --padding-left-right: var(--gutter);

  .twitter {
    li {
      border-bottom: 1px solid var(--c-border);
      padding: 15px 20px;
      font-size: 0.9em;
      &:last-of-type {
        border-bottom: none;
      }
    }
    small {
      display: block;
      margin-top: 10px;
      color: var(--c-primary);
      line-height: 1;
    }
  }

  .tagcloud {
    .entry {
      padding-right: 5px;
    }
    a {
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.sidebar__sticky {
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);

  @media #{$mq-medium-only} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter);

  }

  @media #{$mq-big} {
    position: sticky;
    top: var(--gutter);
    padding: 0;
  }
}


.widget {
  word-wrap: break-word;

  & + & {
    margin-top: var(--gutter);

    @media #{$mq-medium-only} {
      margin-top: 0;
    }
  }

  &--search {
    grid-column: 1 / span 2;

    input {
      background: #fff;
      font-family: $font-title;
      font-style: italic;
      font-size: 1em;
      padding: 10px 15px;
      border: 1px solid var(--c-border);
      width: 100%;
      box-sizing: border-box;
      color: var(--c-primary);
      &:focus {
        color: var(--c-text);
      }
    }
  }

  &--tag,
  &--category {
    small {
      margin-left: var(--quarter-gutter);
      color: var(--c-primary);
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }

  &__title,
  &__entry {
    margin: 0;
    padding: var(--quarter-gutter) 0;
  }

  &__title {
    padding-top: 0;
    font-size: 1em;
    border-bottom: 1px solid var(--c-border);
    font-weight: normal;
    color: var(--c-primary);
  }

  ul, ol, dl {
    list-style: none;
    ul, ol, dl {
      list-style: disc;
      margin-left: 20px;
    }
  }
}
