.sidebar {
  line-height: 1.8em;
  --padding-left-right: var(--gutter);

  .twitter {
    li {
      border-bottom: 1px solid var(--c-border);
      padding: 15px 20px;
      font-size: 0.9em;
      &:last-of-type {
        border-bottom: none;
      }
    }
    small {
      display: block;
      margin-top: 10px;
      color: var(--c-primary);
      line-height: 1;
    }
  }

  .tagcloud {
    .entry {
      padding-right: 5px;
    }
    a {
      margin-right: 10px;
      display: inline-block;
    }
  }
}
