.title {
  &__dates {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    color: var(--c-primary-lighter);
    font: 0.9em $font-title;
    margin-bottom: 5px;
    line-height: 1;

    .layout--listing &--updated {
      display: none;
    }
  }
  &__heading {
    margin: 0;
    font-size: 36px;

    &--draft::after {
      content: ' [DRAFT]';
      color: var(--c-primary-lighter);
    }
    a {
      color: var(--c-text);
    }
  }

  a {
    &:hover {
      color: var(--c-contrast);
      text-decoration: none;
    }
  }
}
