.widgets {
  line-height: 1.8em;
  --padding-left-right: var(--gutter);
  padding: 0 var(--padding-left-right);
  margin-top: var(--gutter);

  @media #{$mq-big} {
    margin-top: 0;
    --padding-left-right: 0;

    .layout--archive & {
        padding-top: 4em;
    }
  }

  &__sticky {
    @media #{$mq-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--gutter);
    }

    .layout--listing & {
      @media #{$mq-big} {
        display: block;
        position: sticky;
        top: var(--gutter);
        padding: 0;
      }
    }

    .layout--post & {
      @media #{$mq-big} {
        margin-right: var(--s-right-column-width);
      }
    }
  }
}

.widget {
  word-wrap: break-word;

  @media #{$mq-small} {
    & + & {
      margin-top: var(--gutter);
    }
  }

  @media #{$mq-big} {
    .layout--listing & + & {
      margin-top: var(--gutter);
    }
  }

  &--tag,
  &--category {
    small {
      margin-left: var(--quarter-gutter);
      color: var(--c-primary);
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }

  &__title {
    @extend %aside-title;
  }

  &__entry {
    margin: 0;
    padding: var(--quarter-gutter) 0;
  }

  ul, ol, dl {
    list-style: none;
    ul, ol, dl {
      list-style: disc;
      margin-left: 20px;
    }
  }
}
