.widgets {
  line-height: 1.8em;
  padding: 0;
  margin-top: var(--gutter);

  &__sticky {
    @media #{$mq-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--gutter);
    }

    .layout--listing & {
      @media #{$mq-big} {
        display: block;
        position: sticky;
        top: var(--gutter);
        padding: 0;
      }
    }

    .layout--post & {
      @media #{$mq-big} {
        margin-right: var(--s-right-column-width);
      }
    }
  }
}

.widget {
  $root: &;
  --c-bg-widget: var(--c-background);
  word-wrap: break-word;
  background: var(--c-bg-widget);

  @media #{$mq-small} {
    & + & {
      margin-top: var(--gutter);
    }
  }

  @media #{$mq-big} {
    .layout--listing & {
      --c-bg-widget: none;

      & + #{$root} {
        margin-top: var(--gutter);
      }
    }
  }

  &--tag,
  &--category {
    small {
      margin-left: var(--quarter-gutter);
      color: var(--c-primary);

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }

  &__title {
    @extend %aside-title;
  }

  &__title,
  &__entry {
    padding: var(--quarter-gutter) var(--half-gutter);
  }

  &__entry {
    margin: 0;
  }

  ul, ol, dl {
    list-style: none;
    ul, ol, dl {
      list-style: disc;
      margin-left: 20px;
    }
  }
}
