<% if (site.posts.length){ %>
<div class="widget widget__recent">
  <h3 class="widget__title"><%= __('recent_posts') %></h3>
  <ul class="widget__entry">
    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <li>
        <a href="<%= config.root %><%= post.path %>"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
</div>
<% } %>
