<% if (site.tags.length){ %>
<div class="widget widget--tagcloud">
  <h3 class="widget__title"><%= __('tagcloud') %></h3>
  <div class="widget__entry">
    <%- tagcloud(site.tags, {}) %>
  </div>
</div>
<% } %>
